In [1]:
print("Hello, World!")

Hello, World!

In [4]:
n = int(input().strip())
if n % 2 != 0:
    print("Weird")
else:
    if n >= 2 and n <= 5:
        print("Not Weird")
    elif n >= 6 and n <= 20:
        print("Weird")
    else:
        print("Not Weird")

24
Not Weird

In [5]:
a = int(input())
b = int(input())
print(a+b)
print(a-b)
print(a*b)

3
2
5
1
6

In [6]:
a = int(input())
b = int(input())
print(a//b)
print(a/b)

4
3
1
1.3333333333333333

In [7]:
n = int(input())
for i in range(n):
  print(i*i)

5
0
1
4
9
16

In [8]:
def is_leap(year):
    leap = False
    if year % 400 == 0:
        leap = True
    elif year % 100 == 0:
        leap = False
    elif year % 4 == 0:
        leap = True
    else:
        leap = False
    return leap
year = int(input())
print(is_leap(year))

1990
False

In [9]:
n = int(input())
for i in range(1, n + 1):
      print(i, end="")

3
123